@using System.Globalization
@using LocalResource = YoutubeBatchDownloader.Web.Resources.Home;
@{
    ViewBag.Title = LocalResource.YouTubeHtml;
}

<div class="jumbotron">
    <div>
        <form id="youTubeForm" action="@Url.Content("~/YouTube/Convert")" method="post">
            <h2>@LocalResource.YouTubeHtml</h2>
            <div>
                <h4 class="pull-left">@LocalResource.StartIndex</h4><input name="startPosition" type="text" class="form-control startPosition" value="1" />
            </div>
            <p><textarea class="YouTubeHtml" name="youTubeHtml" placeholder="@LocalResource.PasteYourYouTubeHtmlHere"></textarea></p>
            <p class="buttonGo"><a class="btn btn-primary btn-lg" id="buttonGo">@LocalResource.Go</a></p>
        </form>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/Views/Index.js")"></script>
}